{% load staticfiles %}
<html>
	<head>
		<title>Cutest Cat</title>
		<!-- adding bootstrap -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		 <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
		<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
	</head>
	<body>
		<div class="page-header">
			<h1><a href="/">Cutest Cat</a></h1>
		</div>

		<br>
		<!--
		<div>
			<h3>Rate cats below</h3>
		<div>
		-->	
	
		<div class="all-posts">
			<!-- Using django tags-->
			{% for cat in cats %}
				<div class="cat-post">
					<h4><a href=""> ~(=^–^) :: {{ cat.name }}</a></h4>
					<img src= "{{ cat.photo.url }}" alt="cats" class="img-responsive img-rounded" width="200px" height="500px">
					<br>
					<em>"{{ cat.description|linebreaksbr }}"</em>
					<br><br>
					<p>Hearts: {{ cat.hearts }}  
					<button type="button">Love!</button>
					</p>
					<br><br>
				</div>
			{% endfor %}
		</div>
		
	</body>
</html>
