.page-header {
    background-color: #b9a8a4;
    margin-top: 0;
    padding: 20px 20px 10px 40px;
}

.cat-post {
	padding-left: 30px;
}

.heart-button {
	background-color: #ffffff;
	height: 30px;
	width: 30px;
	color: #ea421b;
	font-size: 30px;
}
h1 {
		color: black;
		text-align: center;
	}

h1 a {
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-size: 80px;
}
h2 {
	text-align: left;
	color: #76200b;
}

h2 a {
	text-align: left;
	color: #76200b;
	text-decoration: none;
}
h3 {
	color: black;
	text-align: center;
}

h4 a {
	font-family: 'Comfortaa', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

